{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		img {
			width: 13%;
		}
	</style>

	<div class="example-wrapper">
		{% if app.user != null %}

			<div class='details'>

				<p>
					<strong>Avatar:
					</strong>
				</p>
				{% if user.avatar != null %}
					<img src='{{user.avatar}}' alt='Avatar de {{user.username}}'>
				{% else %}
					<img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F420%2F605%2Foriginal%2Favatar-icon-vector-illustration.jpg&f=1&nofb=1' alt='Avatar de {{user.username}}'>
				{% endif %}
				<p>
					<strong>Username:
					</strong>
					{{user.username}}</p>
				{% if user.lastname != null and user.firstname != null %}
					<p>
						<strong>Nom et prénom:
						</strong>
						{{user.lastname}}
						{{user.firstname}}</p>
				{% endif %}
				{% if user.job != null %}
					<p>
						<strong>Job:
						</strong>
						{{user.job}}</p>
				{% endif %}
			</div>
		{% endif %}
		<div class='account_form'>
			<h1>
				<center>Modifier vos informations</center>
			</h1>
			<form align='center' action='' method='POST'>
				<label>Avatar (URL)</label><br>
				<input type='url' required name='avatar' placeholder='https://avatar.com/monavatar.png'><br>
				<label>Nom</label><br>
				<input type='text' required name='lastname' placeholder='BIDULE'><br>
				<label>Prénom</label><br>
				<input type='text' required name='firstname' placeholder='Nicolas'><br>
				<label>Job</label><br>
				<input type='text' required name='job' placeholder='Web Developer'><br>
				<label>Mot de passe</label><br>
				<input type='password' required name='password' placeholder='Mot de passe'><br>
				<button type='submit'>Envoyer</button>
			</form>
		</div>
	</div>
{% endblock %}
