{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.post {
			border: 2px solid lightgrey;
			margin-top: 5%;
			margin-right: 5%;
		}
		.home_form {
			margin-top: 5%;
		}

		.list_posts {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{% if app.user %}
			<center>Un plaisir de vous retrouver
				{{user.username}}
				!
			</center>
		{% endif %}

		<div class='list_posts'>
			{% for i in post %}
				{% if i.isInvisible != true %}
					<div class='post'>
						<h2>{{ i.title }}</h2>
						<p>Auteur:
							{% if i.userid != null %}
								{{i.userid.username}}</p>
						{% endif %}
						<a href="/post/{{i.id}}">Accéder au post</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{% if app.user %}
			<div class='home_form'>
				<form align='center' action='' method='POST'>
					<label>Title</label><br>
					<input type='text' required name="title" placeholder='Mon Titre'>
					<br>
					<label>Content</label><br>
					<input type='text' required name="content" placeholder='Content'><br>
					<button type='submit'>
						Envoyer</button>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
