<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./style.css">
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<style>
		header {
			border-bottom: 2px solid lightgrey;
		}

		.site_name {
			text-align: center;
		}

		nav {
			display: inline-flex;
			margin: auto;
			overflow: hidden;
		}

		nav ul li {
			display: inline-flex;
			list-style-type: none;
		}

		nav ul li a {
			float: none;
			color: black;
			text-align: center;
			padding: 14px 16px;
			font-size: 20px;
		}

		.navitem {
			font-family: ubuntu;
		}

		
		footer {
			background: #333;
			color: white;
			padding: 1rem;
			margin: 5% -1rem -1rem;
		}
	</style>
	<body>
		<header>
			<nav class='nav'>
				<h1 class='site_name'>SYMFONY ENTRAIDE</h1>
				<ul class='navitem'>
					<li>
						<a href='/'>Accueil</a>
					</li>
					{% if app.user == null %}
						<li>
							<a href="{{ path('app_login')}}">Login</a>
						</li>
						<li>
							<a href="{{ path('app_register')}}">Inscription</a>
						</li>
					{% endif %}
					{# {% if app.user.roles != [0] %}
						<li>
							<a href='{{ path('admin') }}'>Admin</a>
						</li> #}
					{# {% endif %} #}
					{% if app.user != null %}
						<li>
							<a href='{{ path('app_account')}}'>Profil</a>
						</li>
						<li>
							<a href="{{ path('app_logout')}}">Déconnexion</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		{% block body %}{% endblock %}
		<footer>
			<p>
				<center>Copyright © 2022 Nicolas RAYNAUD - Tous droits réservés.</center>
			</p>
		</footer>
	</body>
</html>
