{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		input[type="text"] {
			height: 6vh;
		}
		.post_details {
			border-bottom: 2px solid black;
		}
		img {
			width: 4%;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<div class='post_details'>
			<h2>{{post.title}}</h2>
			<p>{{post.content}}</p>
			{% if post.userid != null %}
				<p>Créé par
					{{post.userid.username}}</p>
			{% endif %}
			{% if app.user == post.userid %}
				<a href='{{path('app_delete', {id: post.id})}}'>
					Supprimer</a>
			{% endif %}
			{% if app.user.roles == "ROLE_ADMIN" %}
				<p>Je suis un admin</p>
			{% endif %}
		</div>

		<h3>Commentaires</h3>
		<div class='comments_list'>
			{% for i in comments %}
				{% if i.isInvisible != true %}
					<div class='comment'>
						{% if i.userid.avatar != null %}
							<h4><img src='{{i.userid.avatar}}' alt='Avatar de {{i.userid.username}}'>
								{{i.userid.username}}</h4>
						{% else %}
							<h4><img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F420%2F605%2Foriginal%2Favatar-icon-vector-illustration.jpg&f=1&nofb=1' alt='Avatar de {{i.userid.username}}'>{{i.userid.username}}</h4>
						{% endif %}
						<p>{{i.content}}</p>
						{% if i.reputation == 0 %}
							<p>Réputation: 0</p>
							<a href='{{path('app_vote', {id: post.id, Id: i.id}) }}'>Voter</a>
						{% else %}
							<p>Réputation:
								{{i.reputation}}</p>
							<a href='{{path('app_vote', {id: post.id, Id: i.id}) }}'>Voter</a>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
			{% if post.resolved != true %}
				{% if app.user %}
					<div class='home_form'>
						<form align='center' action='' method='POST'>
							<label>Comment</label><br>
							<input type='text' required name="comment" placeholder='Content'><br>
							<button type='submit'>
								Envoyer</button>
						</form>
					</div>
				{% endif %}
			{% endif %}
		</div>
	{% endblock %}
